<%- include('partials/header.ejs') %>

<body>

  <%- include('partials/navbar.ejs') %>

  <%console.log(user)%>
  <br>
  <div class="container">

    <%if(message != null) {%>

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Conta inativa!</strong> Aguarde contacto
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <%}%>

  <h5 style="text-align: center">Bem-vindo à melhor plataforma de consulta de processos</h5>

  <br>


  <!-- <img id="backgroundImage" src="/images/mac.jpg"> -->

  <div>

    <div class="textImage">
      <p>- Dados desde setembro de 2023</p>
      <p>- Possibilidade ilimitada de pesquisa</p>
      <p>- Interface simples e intuitiva</p>
    </div>


  <picture>



    <!-- Image for phones -->
    <!-- <source id="backgroundImage" srcset="/images/tablet.jpg" media="(max-width: 767px)"> -->
    <!-- Image for larger devices like PCs -->
    <source id="backgroundImage" srcset="/images/mac.jpg" media="(min-width: 768px)">
    <!-- Fallback image if none of the conditions match -->
    <img id="backgroundImage" src="/images/mac.jpg" alt="Responsive Image">
  </picture>

</div>

  <br>
  <br>

  <h5 style="text-align: center">Queres começa a usar? Simples...</h5>

  <p><a href="/users/register">1. Regista-te</a></p>
  <p>2. Seleciona o modelo ideal para ti: <b>subscrição</b> ou <b>pacote de pesquisas</b></p>
  <p>3. Aproveita o perído experimental: 1 dia ou 50 pesquisas</p>
  <p>4. Aguarda o nosso contacto para ativar a tua conta</p>

  </div>
</body>

<%- include('partials/bootstrapScripts.ejs') %>

    </html>