body {
    /* background-color:azure; */
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#textContainer {
  position: absolute;
  color: black; /* Customize text color as needed */
  text-align: center;
}


/* By default, hide the phone-only elements */
.phone-only {
    display: none;
  }
  
  /* Show phone-only elements and hide pc-only elements on smaller screens (phones) */
  @media (max-width: 767px) {
    .phone-only {
      display: block;
    }
    .pc-only {
      display: none;
    }
  }
  
  /* Optional: Ensure the PC-only elements are displayed on larger screens */
  @media (min-width: 768px) {
    .pc-only {
      display: block;
    }
  }

  .moreInfo {
    color:#2964CE;
    font-weight:bold;
  }