body {
    /* background-color:azure; */
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}


#backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* display: block;
  margin-left: auto;
  margin-right: auto; */
    /* box-shadow: 0 0 10px black inset; */
}

.textImage {
    /* width: 27%;
    height: 26%; */
    /* object-fit: contain; */
    /* position: absolute;
    top: 25%;
    left: 40%; */
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    color: white;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%)

}

/* By default, hide the phone-only elements */
.phone-only {
    display: none;
  }
  
  /* Show phone-only elements and hide pc-only elements on smaller screens (phones) */
  @media (max-width: 767px) {
    .phone-only {
      display: block;
    }
    .pc-only {
      display: none;
    }
  }
  
  /* Optional: Ensure the PC-only elements are displayed on larger screens */
  @media (min-width: 768px) {
    .pc-only {
      display: block;
    }
  }